@font-face {
  font-family: "HelveticaNeueLTProLt";
  src:
    url(//fonts/HelveticaNeueLTProLt.otf);
}
@font-face {
  font-family: "HelveticaNeueLTProMd";
  src:
    url(//fonts/HelveticaNeueLTProMd.otf);
}
@font-face {
  font-family: "HelveticaNeueLTProRoman";
  src:
    url(//fonts/HelveticaNeueLTProRoman.otf);
}
@font-face {
  font-family: "Merriweather-LightItalic";
  src:
    url(//fonts/Merriweather-LightItalic.ttf);
}
@font-face {
  font-family: "Montserrat-Light";
  src:
    url(//fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat-Regular";
  src:
    url(//fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Regular";
  src:
    url(//fonts/Roboto-Regular.ttf);
}
p{
  font-family: "HelveticaNeueLTProLt", Arial, sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}


.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_item a{
  font-family: "Roboto";
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #989696;
  margin-right: 43px;
}
.active a{
  color:#010101;
}

.menu_item:last-child a{
  margin-right:0;
}

.logo{
  margin: 0 16px;
}

.header-content {
  text-align: center;
  margin: 207px auto 0;
}
.first-tittle {
  font-family: 'Helvetica Neue Pro - Lt';
font-size: 44px;
line-height: 41px;
font-weight: 400;
letter-spacing: 0.02em;
color: #1d1e1f;   
}
.tittle-support-text {
  font-family: "Merriweather";
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #898888;
  margin: 0 auto 43px;;
}
.header-btn {
  font-family: "Montserrat-Regular", sans-serif ;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 206px;
  border: 1px solid black;
  width: 188px;
  height: 57px;
}

.abous-us{
  display: flex;
  justify-content: center;
  height: 1129px;
  background-color: #1d1d1d;
  padding-top: 128px;
  padding-bottom: 271px;
  background: url(/img/build.png) center 101% repeat-x, 
              url(/img/buildblack.png) center 101% repeat-x,
              #1d1d1d;
}

.year{
  background-color: #181818;
  width: 417px;
  height: 276px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.year-date{
  font-family: 'Helvetica Neue Pro';
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
}

.date-description{
  font-family: "Montserrat-Light",sans-serif;
  font-size: 15px; 
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #b7b7b7;
}

.about-inner{
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  gap: 178px;
}


.team {
  height: 745px;
}
.block-head {
  padding-top: 138px;
  margin-bottom: 131px;
  text-align: center;
}
.block-title {
  font-family: 'Helvetica Neue Pro - Lt';
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
}
.block-text {
  font-family: "Merriweather-LightItalic";
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #898888;
}
.team_inner {
  display: flex;
  justify-content: space-around;
}
.team_item {
  text-align: center;
}
.team_item_name {
  padding-top: 29px;
  font-family: 'Helvetica Neue Pro';
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #464646;
}
.team_item_text {
  font-family: 'Helvetica Neue Pro';
  font-size: 13px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #b3b3b3;
  margin-bottom: 10px;
}
.icon-box a{
  font-size: 20px;
  color:gainsboro;
}


.team_item:first-child{
  padding-left: 115px;
}

.team_item:last-child{
  padding-right: 115px;
}